@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Stand By</h1>
    <p class="lead">Projeto de controle de clientes, produtos e pedidos.</p>
</div>

<h5>- Para acessar o sistema com permissão para manipular produtos, utilize as credenciais: <em><u>admin@standby.com / Standby@1</u></em></h5>
<h5>- Para acessar como convidado utilize as credenciais: <em><u>alessandro@standby.com / Standby@1</u></em></h5>