@model IEnumerable<StandBy.Models.Clientes>
@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clientes</h2>
<p>
    @Html.ActionLink("Novo Cliente", "New", "Clientes", null, new { @class = "btn btn-primary" })
</p>
@if (!Model.Any())
{
    <p>Nenhum cliente cadastrado.</p>
}
else
{
    <table class="table table-bordered table-hover" id="clientes">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>CPF / CNPJ</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in Model)
            {
                <tr>
                    <td>@Html.ActionLink(cliente.Nome, "Edit", "Clientes", new { id = cliente.Id }, null)</td>
                    <td>@cliente.CpfCnpj</td>
                    <td><button class="btn-link js-delete" data-cliente-id="@cliente.Id">Excluir</button></td>
                </tr>
            }
        </tbody>
    </table>
}
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#clientes").DataTable();

            $("#clientes").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Deseja realmente excluir?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "api/clientes/" + button.attr("data-cliente-id"),
                            method: "DELETE",
                            success: function () {
                                button.parent().parent().remove();
                            }
                        });
                    }
                });
            });
        })
    </script>    
}